<h3>ユーザー編集</h3>


<%= render "shared/error", obj: @user %>
<%= form_with model: @user do |f| %>
  <table>


    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>


    <tr>
      <th><%= f.label :start ,"開始日" %></th>
      <td><%= f.date_select  :start %></td>
    </tr>

    <tr>
      <th><%= f.label :finish  ,"終了日" %></th>
      <td><%= f.date_select :finish  %></td>
    </tr>

    <tr>
      <th><%= f.label :allday ,"終日" %></th>
      <td><%= f.check_box :allday, checked:true %></td>
      <td> 終日の場合はチェックを入れます</td>
    </tr>
      

    <tr>
      <th><%= f.label :introduction ,"スケジュールメモ" %></th>
      <td><%= f.text_area :introduction %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "編集を完了する"%></li>
      <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
    </ul>
  </div>
<% end %>